body {
    padding: 20px;
}


.booksContainer {
    display: grid;
    grid-template: 250px / repeat(auto-fit, 200px);
    grid-auto-rows: 150px;
    gap: 50px;
}

.bookImage {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    box-shadow: 3px 2px 2px 1px #888686;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* height: 200px; */
    width: 400px;

    .titleBox {
        font-weight: 600;
        font-size: 20px;
    }

    .authorBox {}

    .pageBox {}

    .statusBox {}

    .buttons {
        margin-top: auto;
        display: flex;
        justify-content: space-around;
        width: 100%;

        button {
            border-radius: 10px;
            outline: none;
            background-color: aqua;
            padding: 5px 10px;
        }
    }

    p {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        gap: 10px;
        label {}

        input {
            padding: 5px;
        }
    }

    .radioButtons {
        label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input[type="radio"] {
                position: absolute;
                opacity: 0;
                cursor: pointer;

                &:checked~span {
                    background-color: #2196F3;
                }

                &:checked~span:after {
                    display: block;
                }
            }

            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border-radius: 50%;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;

                    top: 9px;
                    left: 9px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: white;
                }
            }
        }
    }

    .filePickerLabel{
        font-size: 20px;
        color: rgb(1, 145, 145);
        margin: 10px 0;
        cursor: pointer;
        width: fit-content;

        &:hover{
            color: black;
        }

        &::after{
            display: block;
            margin-top: 5px;
            font-size: 14px;
            text-decoration: underline;
            content: attr(data-image-name);
            color: blue;
        }

        input{
            display: none;
        }
    }

    /* .buttons {
        margin-top: auto;
        display: flex;
        justify-content: space-around;
        width: 100%;

        button {
            border-radius: 10px;
            outline: none;
            background-color: aqua;
            padding: 5px 10px;
        }
    } */
}

.editBookModal {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    gap: 10px;

    
}

dialog {
    border-radius: 5px;
}